<nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#page-top"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active"><a class="page-scroll" [routerLink]="['/profile']">Perfil</a></li>
        <li routerLinkActive="active"><a class="page-scroll" [routerLink]="['/experiences']">Experiencia</a></li>
        <li routerLinkActive="active"><a class="page-scroll" [routerLink]="['/abilities']">Habilidades</a></li>
        <li routerLinkActive="active"><a class="page-scroll" [routerLink]="['/projects']">Proyectos</a></li>
        <li routerLinkActive="active"><a class="page-scroll" [routerLink]="['/contact']">Contacto</a></li>
        <li routerLinkActive="active">
          <a class="page-scroll" [routerLink]="['/demo']">Demo</a>
        </li>
      </ul>
    </div>
  </div>
</nav>